<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PS.Kiosk.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PS.Kiosk.Data.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>192.168.7.43\sql2008</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>TDS</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>db3</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>dbuser123</value>
      </setting>
    </PS.Kiosk.Data.Properties.Settings>
  </userSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
   
  <add name="KioskDataEntities" connectionString="metadata=res://*/ParametersDataModel.csdl|res://*/ParametersDataModel.ssdl|res://*/ParametersDataModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\KioskData.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>